* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* HERO */
.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.hero h1 {
    color: #F9FAF8;
    font-size: 24px;
}

.hero ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.hero a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/* HEADER */
.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}

.header > .header-body h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.header > .header-body p {
    font-size: 18px;
    color: #E5E7EB;
}

.header img {
    height: auto;
    width: 25%;
}

.header > .header-body button {
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    padding: 10px 20px;
    border-radius: 5%;
    margin-top: 10px;
}

/* MAIN */
.main {
    text-align: center;
}

.main-img {
    display: flex;
    justify-content: center;
    gap: 75px;
    margin-bottom: 75px;
}

.main-img p {
    max-width: 175px;
}

.main-img img {
    border: 4px solid #3882F6;
    border-radius: 10%;
}

.main h1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 50px;
}

.main img {
    height: 175px;
    width: 175px;
}

/* QUOTE */
.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 60px;
    justify-content: center;
    align-items: center;
}

.quote > .content {
    display: flex;
    flex-direction: column;
}

.quote > .content h1 {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote > .content p {
    font-size: 18px;
    color: #1F2937;
    font-weight: 700;
    align-self: flex-end;
}

/* FOOTER */
.footer {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 100px;
    margin: 100px 10% 100px auto;
    border-radius: 2%;
}

.footer > .message {
    color: #F9FAF8;
}

.footer > .message h1 {
    font-size: 36px;
}

.footer > .message p {
    font-size: 18px;
}

.footer button {
    background-color: #3882F6;
    border: 1px solid #F9FAF8;
    color: #F9FAF8;
    border-radius: 5%;
    font-size: 18px;
    padding: 5px 15px;
}